---
import GlobalStyles from '../components/GlobalStyles.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Steps from '../components/Steps.astro';
import About from '../components/About.astro';
---

<Layout title='Welcome to Astro.'>
  <GlobalStyles />
  <main>
    <Hero />
    <div class='section__title'>
      <h4 class='section__description'>LEAVE THE JUNK TO US!</h4>
      <h2 class='section__header'>
        Everything you need in a junk removal service
      </h2>
    </div>
    <About />
    <div class='section__title'>
      <h4 class='section__description'>TRASH REMOVAL MADE SIMPLE</h4>
      <h2 class='section__header'>Everything you need in a few steps</h2>
    </div>
    <Steps />
  </main>
</Layout>
<style lang='scss'>
  main {
    /* background-color: rgb(46, 46, 159); */

    &:nth-child(even) {
      background-color: rgba(23, 34, 113, 0.94);
      /* border: solid 4px var(--clr-secondary-100); */
    }
  }

  .section__title {
    width: 70%;
    margin: 8rem auto 8rem auto;
  }

  .section__description {
    color: aliceblue;
  }

  .section__header {
    color: var(--clr-secondary-100);
    padding: 0rem;
  }

  @media (max-width: 34em) {
    .section__title {
      text-align: center;
      width: 90%;
    }
  }
</style>
