---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Steps from '../components/Steps.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <Steps />
    main
  </main>
</Layout>
