<div class='form-wrapper'>
  <div class='form-box'>
    <div class='cta'>
      <div class='cta-text-box'>
        <h4 class='heading-secondary'>START REMOVING TODAY!</h4>
        <!-- <p class='form-description'>
          We handle the heavy lifting, so you don't have to!
        </p> -->

        <div class='cta-form'>
          <div>
            <!-- <label for='full-name'>Full Name</label> -->
            <input
              id='full-name'
              type='text'
              placeholder='John Smith'
              name='full-name'
              required
            />
          </div>

          <div>
            <!-- <label for='full-name'>Full Name</label> -->
            <input
              id='full-name'
              type='text'
              placeholder='Phone Number'
              name='full-name'
              required
            />
          </div>

          <div>
            <!-- <label for='email'>Email address</label> -->
            <input
              id='email'
              type='email'
              placeholder='me@example.com'
              name='email'
              required
            />
          </div>

          <div>
            <!-- <label for='select-where'>Junk removal</label> -->
            <select id='select-where' name='select-where' required>
              <option value=''>Please choose one option:</option>
              <option value='friends'>Friends and family</option>
              <option value='youtube'>YouTube video</option>
              <option value='podcast'>Podcast</option>
              <option value='ad'>Facebook ad</option>
              <option value='others'>Others</option>
            </select>
          </div>

          <button class='btn btn--form'>Start Now</button>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .form-wrapper {
    /* background-image: url('https://assets.codepen.io/308367/mountain-with-stars.jpg');
    background-position: bottom;
    background-size: cover;
    min-height: 70vh;
    position: relative; */
    display: grid;
    /* z-index: 2; */
  }
  .cta {
    display: grid;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.139);
    border-radius: 5px;
    overflow: hidden;
    max-width: 480px;
    border: solid 4px var(--clr-secondary-200);
    background-color: var(--clr-primary-200);
    z-index: 1;
    /* border: solid 3px #fff; */
    /* background-color: var(--clr-primary-200); */
  }

  .cta-text-box {
    padding: 4rem 3rem 4.5rem 3rem;
    color: var(--clr-primary-400);
  }

  .cta .heading-secondary {
    font-size: 24px;
    margin-bottom: 3rem;
    color: #fffffe;
  }

  .cta .form-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /* font-size: 1.8rem; */
    margin-bottom: 2rem;
    line-height: 1.15;
    /* color: var(--clr-text); */
    color: #fffffe;
  }

  .cta-text {
    font-size: 1.4rem;
    line-height: 1.8;
    /* margin-bottom: 2.5rem; */
  }
  .cta-form {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 3rem;
    row-gap: 1.5rem;
    z-index: 1;
  }
  .cta-form label {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    /* margin-bottom: 1.2rem; */
  }
  .cta-form input,
  .cta-form select {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fcfcfde6;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.142);
    margin-bottom: 1.5rem;
  }
  .btn {
    margin: 1rem 1rem 0 0;
    padding: 1rem;
  }

  @media (max-width: 59em) {
    .cta {
      /* background-color: #7cb07f; */
    }

    .cta-form {
      column-gap: 2rem;
      row-gap: 1.2rem;
    }

    .cta-text-box {
      padding: 4rem 4rem 5rem 4rem;
      width: 385px;
    }

    .cta .heading-secondary {
      margin-bottom: 2rem;
    }

    .cta .form-description {
      font-size: 1.4rem;
      margin-bottom: 4rem;
    }

    .cta-text {
      font-size: 1rem;
      margin-bottom: 2rem;
    }

    .cta-form {
      row-gap: 1.5rem;
    }
  }

  @media (max-width: 44em) {
    .form-wrapper {
      padding: 1rem 1rem;
    }
    .cta {
      /* grid-template-columns: 1fr; */
      /* background-color: #705f51; */
    }

    .cta-text-box {
      padding: 6rem 2rem 6rem 2rem;
      /* min-width: 450px; */
    }
  }

  @media (max-width: 34em) {
    .cta .heading-secondary {
      margin-bottom: 4rem;
    }
    .form-wrapper {
      padding: 1rem 0;
    }

    .cta-text-box {
      padding: 4rem 1rem 5rem 1rem;
      width: 420px;
    }
  }
</style>
