---
// import SectionContainer from './SectionContainer.astro';
import Logo from '../../public/junk-gone-logo.png'; // Image is 1600x900
import { Image } from 'astro:assets';
// import { Icon } from 'astro-icon/components';
---

<header class='header'>
  <Image class='logo lazy-img' src={Logo} alt='A description of my image.' />
  <nav class='main-nav'>
    <!-- <ul class="main-nav-list">
          <li><a class="main-nav-link" href="#how">How it works</a></li>
    </ul> -->
  </nav>
  <button class='nav__item'>
    <a class='nav__link nav__link--btn btn--show-modal' href='#'>Call Now</a>
  </button>
</header>

<style lang='scss' is:global>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    width: 100%;
    padding: 0 4rem;
    z-index: 100;
    background-color: aqua;

    /* Because we want header to be sticky later */
    // height: 9.6rem;
    // padding: 0 4.8rem;
    // position: relative;
  }
  .main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
  }

  .logo {
    width: 175px;
    height: auto;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    // font-size: 1.8rem;
    transition: all 0.3s;
  }

  .main-nav-link:hover,
  .main-nav-link:active {
    color: #cf711f;
  }

  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #e67e22;
  }

  .main-nav-link.nav-cta:hover,
  .main-nav-link.nav-cta:active {
    background-color: #cf711f;
  }

  .nav__item {
    margin-left: 4rem;
  }

  .nav__link:link,
  .nav__link:visited {
    // font-size: 1.8rem;
    font-weight: 500;
    color: #f4f2f2;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
  }
  .nav__link--btn:link,
  .nav__link--btn:visited {
    // padding: 1.3rem 3.1rem;
    padding: 1rem 3.1rem;

    border-radius: 4rem;
    background-color: var(--clr-primary-200);
    border: solid 3px var(--clr-secondary-100);
  }

  .nav__link--btn:hover,
  .nav__link--btn:active {
    color: inherit;
    background-color: var(--clr-primary-200);
    color: var(--clr-secondary-100);
  }

  .sticky .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 0.97);
    z-index: 999;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  }
</style>
