---
import Form from './Form.astro';
---

<div class='section-hero'>
  <div class='hero'>
    <div class='hero-text-box'>
      <div class='header__title'>
        <h1>
          PREMIER JUNK REMOVAL SERVICE
          <!-- highlight effect -->
          <br />
          <span class='highlight'>SAN JOSE</span>
          <!-- TO US <br /> -->

          <!-- <span class='highlight'>SAN JOSE</span> -->
        </h1>

        <p>
          We are a full service junk removal company, providing you with all the
          services that you need to get rid of your junk on your terms.
        </p>
        <!-- <p>We handle the heavy lifting, so you don't have to!</p> -->
        <p class='delivered-text'>
          Over <span>100+</span> happy customers reviews!
        </p>
        <button class='btn btn--text btn--scroll-to'
          >Learn more &DownArrow;</button
        >
      </div>
    </div>
    <Form />
  </div>
</div>

<style lang='scss'>
  .section-hero {
    min-height: 70vh;
    position: relative;
    outline: solid 3px #fdf2e9;
    padding: max(5rem, 15vh) 0;
    isolation: isolate;
  }

  .section-hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
        180deg,
        rgba(3, 10, 112, 0.943),
        rgba(31, 71, 191, 0.67),
        rgba(75, 86, 119, 0.832),
        rgba(37, 82, 203, 0.789)
      ),
      url('/image.jpeg');
    opacity: 0.55; /* Set the desired opacity level here */
    background-position: center;
    background-size: cover;
    z-index: -1;
  }

  .hero {
    max-width: 120rem;
    margin: 0 auto;
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(350px, 1fr);
    gap: 2rem;
    place-items: center;

    @media (max-width: 59em) {
      padding: 1rem 5.5rem;
      grid-template-columns: minmax(300px, 1fr) minmax(200px, 1fr);
      // grid-template-columns: 1fr;
      gap: 2rem;
    }

    @media (max-width: 44em) {
      padding: 1rem 2.5rem 3rem 2.5rem;
      grid-template-columns: 1fr;
      gap: 8rem;
      border: soild 3px #f4f4f4;
    }

    @media (max-width: 34em) {
      padding: 1rem 2.5rem 2.5rem 2.5rem;
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }

  .hero-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }

  .header__title {
    flex: 1;
    font-family: 'Teko', Sans-serif;
    display: grid;
    row-gap: 4.2rem;
    align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: start;

    @media (max-width: 59em) {
      padding: 0 2rem;
      row-gap: 2.5rem;
    }

    @media (max-width: 34em) {
      row-gap: 3.5rem;
      margin-bottom: 4.5rem;
    }
  }

  .header__title p {
    font-size: 1.8rem;
    font-weight: 400;

    &:nth-child(odd) {
      font-weight: 500;
      font-size: 2rem;
      padding-bottom: 1rem;
    }
  }

  .highlight {
    position: relative;
    z-index: 1;
    color: var(--clr-secondary-200);

    // &::after {
    //   display: block;
    //   content: '';
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   height: 100%;
    //   width: 100%;
    //   z-index: -1;
    //   opacity: 0.7;
    //   transform: scale(1.07, 1.05) skewX(-15deg);
    //   background-image: var(--gradient-primary);
    // }
  }

  .delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .delivered-text span {
    color: var(--clr-secondary-200);
    font-weight: 700;
  }

  .btn {
    display: inline-block;
    border: solid 4px var(--clr-secondary-200);
    background: none;
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 600;
    // border: none;
    padding: 1.05rem 4rem;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s;
    // color: beige;
    color: #fff;
  }

  @media (max-width: 34em) {
    .hero {
      padding: 0.5rem 1rem 0 1rem;
      place-items: center stretch;
    }
  }
</style>
