---
import Form from './Form.astro';
---

<div class='section-hero'>
  <div class='hero'>
    <div class='hero-text-box'>
      <div class='header__title'>
        <h1>
          LEAVE THE
          <!-- highlight effect -->
          <span class='highlight'>JUNK</span>
          TO US <br />
          <span class='highlight'>SAN JOSE</span>
        </h1>

        <p>
          We are a full service junk removal company, providing you with all the
          services that you need to get rid of your junk on your terms.
        </p>
        <p>We handle the heavy lifting, so you don't have to!</p>
        <button class='btn btn--text btn--scroll-to'
          >Learn more &DownArrow;</button
        >
      </div>
    </div>
    <Form />
  </div>
</div>

<style lang='scss' is:global>
  .section-hero {
    min-height: 70vh;
    position: relative;
    background-color: #343f61;
    outline: solid 3px #fdf2e9;
    padding: max(4rem, 15vh) 0;
    isolation: isolate;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(
          180deg,
          rgba(0, 17, 255, 0.978),
          rgba(56, 100, 232, 0.872),
          rgba(103, 126, 198, 0.559),
          rgba(216, 219, 227, 0.283)
        ),
        url('/assets/image.jpeg');
      opacity: 0.25; /* Set the desired opacity level here */
      background-position: center;
      background-size: cover;
      z-index: -1;
    }
  }

  .hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(350px, 1fr);
    // grid-template-columns: minmax(300px, 0.9fr) minmax(330px, 1.1fr);
    // grid-template-columns: 1fr 1fr;

    gap: 2rem;
    place-items: center;

    @media (max-width: 59em) {
      padding: 1rem 5.5rem;
      grid-template-columns: minmax(300px, 1fr) minmax(200px, 1fr);
      // grid-template-columns: 1fr;

      gap: 0;
    }

    @media (max-width: 44em) {
      padding: 1rem 2.5rem 3rem 2.5rem;
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }

    @media (max-width: 34em) {
      padding: 1rem 1.5rem 2.5rem 1.5rem;
      grid-template-columns: 1fr;
      gap: 1.2rem;
    }
  }

  .hero-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }

  .header__title {
    flex: 1;
    display: grid;
    row-gap: 4.2rem;
    align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: start;

    @media (max-width: 59em) {
      padding: 0 2rem;
      row-gap: 2.5rem;
    }

    @media (max-width: 34em) {
      row-gap: 3rem;
      margin-bottom: 5rem;
    }
  }

  .header__title p {
    font-size: 1.8rem;
    font-weight: 500;

    &:nth-child(odd) {
      font-size: 2rem;
    }
  }

  .highlight {
    position: relative;
    z-index: 1;

    &::after {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      opacity: 0.7;
      transform: scale(1.07, 1.05) skewX(-15deg);
      background-image: var(--gradient-primary);
    }
  }

  .btn {
    display: inline-block;
    background-color: black;
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 1.25rem 4.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
  }
</style>
