---

---

<section>
  <div class='container'>
    <div class='row justify-between'>
      <div class='col-6'>
        <h2>Dispose of junk the ECO- FRIENDLY way</h2>
      </div>
      <div class='col-4'>
        <p>
          Not every junk item is meant to be thrown away, and we understand
          that. Our team sorts your junk into three categories – Recycle,
          Donate, Dispose Of – and removes it accordingly.
        </p>
      </div>
    </div>
    <div class='row gx-5 mt-12 items-center lg:mt-0'>
      <div class='col-7'>
        <div class='relative'>
          <img class='w-full object-contain' src='image.jpeg' />
          <img
            class='absolute bottom-6 left-1/2 -z-[1] -translate-x-1/2'
            src='shape.svg'
            alt=''
          />
        </div>
      </div>
      <div class='mt-6 col-5 order-1'>
        <div class='text-container'>
          <!-- <h2 class='text-4xl'>
            Accept payments any country in this whole universe
          </h2> -->
          <h2 class='text-4xl'>
            We got you covered, getting rid of junk made easy
          </h2>
          <p class='mt-4'>
            Donec sollicitudin molestie malesda. Donec sollitudin molestie
            malesuada. Mauris pellentesque nec, egestas non nisi. Cras ultricies
            ligula sed
          </p>
          <ul class='mt-6 text-dark lg:-ml-4'>
            <li class='mb-2 flex items-center rounded px-4'>
              <img
                class='mr-3'
                src='images/icons/checkmark-circle.svg'
                alt=''
              />
              Supporting more than 119 country world
            </li>
            <li class='mb-2 flex items-center rounded px-4'>
              <img
                class='mr-3'
                src='images/icons/checkmark-circle.svg'
                alt=''
              />
              Open transaction with more than currencies
            </li>
            <li class='flex items-center rounded px-4'>
              <img
                class='mr-3'
                src='images/icons/checkmark-circle.svg'
                alt=''
              />
              Customer Service with 79 languages
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class='row gx-5 mt-12 items-center lg:mt-0'>
      <div class='col-7 order-2'>
        <div class='relative'>
          <img class='w-full object-contain' src='image.jpeg' />
          <img
            class='absolute bottom-6 left-1/2 -z-[1] -translate-x-1/2'
            src='shape.svg'
            alt=''
          />
        </div>
      </div>

      <div class='mt-6 col-5 order-1'>
        <div class='text-container'>
          <h2 class='text-4xl'>
            Accept payments any country in this whole universe
          </h2>
          <p class='mt-4'>
            Donec sollicitudin molestie malesda. Donec sollitudin molestie
            malesuada. Mauris pellentesque nec, egestas non nisi. Cras ultricies
            ligula sed
          </p>
          <ul class='mt-6 text-dark lg:-ml-4'>
            <li class='mb-2 flex items-center rounded px-4'>
              <img
                class='mr-3'
                src='images/icons/checkmark-circle.svg'
                alt=''
              />
              Supporting more than 119 country world
            </li>
            <li class='mb-2 flex items-center rounded px-4'>
              <img
                class='mr-3'
                src='images/icons/checkmark-circle.svg'
                alt=''
              />
              Open transaction with more than currencies
            </li>
            <li class='flex items-center rounded px-4'>
              <img
                class='mr-3'
                src='images/icons/checkmark-circle.svg'
                alt=''
              />
              Customer Service with 79 languages test
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <style style='scss'>
    section {
      /* // background-color: rgba(255, 226, 216, 0.867); */
      background-color: #efece0;
      padding: 14rem 1rem;
    }

    .relative {
      position: relative;
    }
    .row {
      --bs-gutter-x: 2rem;
      --bs-gutter-y: 0;
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(var(--bs-gutter-y) * -1);
      margin-right: calc(var(--bs-gutter-x) / -2);
      margin-left: calc(var(--bs-gutter-x) / -2);
    }
    .justify-between {
      justify-content: space-between;
      /* justify-content: space-evenly; */
    }

    .row > * {
      box-sizing: border-box;
      flex-shrink: 0;
      /* width: 100%; */
      /* max-width: 100%; */
      padding-right: calc(var(--bs-gutter-x) / 2);
      padding-left: calc(var(--bs-gutter-x) / 2);
      margin: 8rem 0;
      /* margin-top: var(--bs-gutter-y); */
    }

    .container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1202px;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }

    .items-center {
      align-items: center;
    }

    .object-contain {
      object-fit: contain;
      width: 100%;
    }

    img {
      /* max-width: auto; */
      height: auto;
      vertical-align: middle;
    }

    .text-container {
      margin-left: auto;
      margin-right: auto;
    }
    @media (min-width: 1024px) {
      .text-container {
        max-width: 412px;
      }
    }

    /* .text-4xl h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-family: Merriweather, sans-serif;
  } */
    .lg\:-ml-4 {
      margin-left: -1rem;
    }

    li {
      display: flex;
      margin-bottom: 0.5rem;
      align-items: center;
      font-size: 1.6rem;
      padding: 0 1rem;
      color: rgb(30, 30, 30);
      font-weight: 500;
    }
    .rounded {
      border-radius: 0.25rem;
    }

    .mt-6 {
      margin-top: 1.8rem;
    }

    .mb-2 {
      margin-bottom: 0.8rem;
    }
    .mr-3 {
      margin-right: 0.75rem;
    }
    .mt-4 {
      margin-top: 1rem;
    }
    .g-5,
    .gx-5 {
      --bs-gutter-x: 3rem;
    }

    /* .lg\:order-1 {
    order: 1;
  }

  .lg\:order-2 {
    order: 2;
  } */
    .order-1 {
      order: 1;
    }
    .order-2 {
      order: 2;
    }
    .col-3 {
      flex: 0 0 auto;
      width: 25%;
    }

    .col-4 {
      flex: 0 0 auto;
      width: 33.333333333333336%;
    }

    .col-5 {
      flex: 0 0 auto;
      width: 41.66666666666667%;
    }

    .col-6 {
      flex: 0 0 auto;
      width: 50%;
    }

    .col-7 {
      flex: 0 0 auto;
      width: 58.333333333333336%;
    }

    @media (max-width: 44em) {
      .row > * {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-top: 3rem;
      }

      .order-1 {
        order: 2;
      }
      .order-2 {
        order: 1;
      }
    }
  </style>
</section>
