---

---

<section class='eco-friendly-disposal'>
  <div class='container-eco'>
    <!-- Reusable Section Component Start -->

    <!-- Reusable Section Component End -->

    <!-- Reusable Content Section Start -->
    <div class='row gx-5 mt-12 items-center lg:mt-0'>
      <div class='col-7'>
        <div class='relative'>
          <img class='w-full object-contain' src='image.jpeg' />
          <img
            class='absolute bottom-6 left-1/2 -z-[1] -translate-x-1/2'
            src='shape.svg'
            alt=''
          />
        </div>
      </div>
      <div class='col-5 mt-6 order-1'>
        <div class='text-container'>
          <h2 class='services-title'>
            We got you covered, getting rid of junk made easy
          </h2>
          <p class='services-text'>
            Donec sollicitudin molestie malesda. Donec sollicitudin molestie
            malesuada. Mauris pellentesque nec, egestas non nisi. Cras ultricies
            ligula sed
          </p>
          <ul class='services-ul'>
            <li class='mb-2 flex items-center rounded px-4'>
              <img
                class='mr-3'
                src='images/icons/checkmark-circle.svg'
                alt=''
              />
              Supporting more than 119 country world
            </li>
            <li class='mb-2 flex items-center rounded px-4'>
              <img
                class='mr-3'
                src='images/icons/checkmark-circle.svg'
                alt=''
              />
              Open transaction with more than currencies
            </li>
            <li class='flex items-center rounded px-4'>
              <img
                class='mr-3'
                src='images/icons/checkmark-circle.svg'
                alt=''
              />
              Customer Service with 79 languages
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Reusable Content Section End -->

    <!-- Reusable Content Section Start -->
    <div class='row gx-5 mt-12 items-center lg:mt-0'>
      <div class='col-7 order-2'>
        <div class='relative'>
          <img class='w-full object-contain' src='image.jpeg' />
          <img
            class='absolute bottom-6 left-1/2 -z-[1] -translate-x-1/2'
            src='shape.svg'
            alt=''
          />
        </div>
      </div>
      <div class='col-5 mt-6 order-1'>
        <div class='text-container'>
          <h2 class='services-title'>
            We got you covered, getting rid of junk made easy
          </h2>
          <p class='services-text'>
            Donec sollicitudin molestie malesda. Donec sollicitudin molestie
            malesuada. Mauris pellentesque nec, egestas non nisi. Cras ultricies
            ligula sed
          </p>
          <ul class='services-ul'>
            <li class='mb-2 flex items-center rounded px-4'>
              <img
                class='mr-3'
                src='images/icons/checkmark-circle.svg'
                alt=''
              />
              Supporting more than 119 country world
            </li>
            <li class='mb-2 flex items-center rounded px-4'>
              <img
                class='mr-3'
                src='images/icons/checkmark-circle.svg'
                alt=''
              />
              Open transaction with more than currencies
            </li>
            <li class='flex items-center rounded px-4'>
              <img
                class='mr-3'
                src='images/icons/checkmark-circle.svg'
                alt=''
              />
              Customer Service with 79 languages
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Reusable Content Section End -->
  </div>
</section>

<style lang='scss' is:global>
  @import '../styles/base/_color.scss';
  section.eco-friendly-disposal {
    background-color: #efece0;
    padding: 14rem 1rem;
  }

  .relative {
    position: relative;
  }

  .row {
    --bs-gutter-x: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y, 0) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
  }

  .row > * {
    box-sizing: border-box;
    flex-shrink: 0;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin: 4rem 0;
  }

  .justify-between {
    justify-content: space-between;
  }
  .container-eco {
    margin-left: auto;
    margin-right: auto;
    max-width: 1202px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .items-center {
    align-items: center;
  }

  .object-contain {
    object-fit: contain;
    width: 100%;
  }

  img {
    height: auto;
    vertical-align: middle;
  }

  .text-container {
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 1024px) {
    .text-container {
      max-width: 412px;
    }
  }

  .services-title {
    // font-size: 2.95rem;
    // line-height: 3rem;
    font-family: 'Merriweather', sans-serif;
    font-size: 3.3rem;
    line-height: 1.05;
    margin-bottom: 1.8rem;
    font-weight: 600;
    letter-spacing: -0.5px;
  }

  .services-text {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    letter-spacing: 0.35px;
    line-height: 1.5;
    font-weight: 400;
  }
  .services-ul {
    margin-left: -0.5rem;
    color: $color-primary;
    // font-weight: 600;
  }

  li {
    display: flex;
    margin-bottom: 0.8rem;
    align-items: center;
    font-size: 1.6rem;
    padding: 0 1rem;
    // color: rgb(30, 30, 30);
    font-weight: 600;
  }

  .rounded {
    border-radius: 0.25rem;
  }

  .mt-6 {
    // margin-top: 1.8rem;
  }

  .mb-2 {
    margin-bottom: 0.8rem;
  }

  .mr-3 {
    margin-right: 0.75rem;
  }

  .mt-4 {
    margin-top: 1rem;
  }

  .gx-5 {
    --bs-gutter-x: 3rem;
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }

  .col-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-4 {
    flex: 0 0 auto;
    width: 33.333333333333336%;
  }

  .col-5 {
    flex: 0 0 auto;
    width: 41.66666666666667%;
  }

  .col-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-7 {
    flex: 0 0 auto;
    width: 58.333333333333336%;
  }

  @media (max-width: 44em) {
    .row > * {
      width: 100%;
      max-width: 100%;
      margin-top: 3rem;
    }

    .order-1 {
      order: 2;
    }

    .order-2 {
      order: 1;
    }
  }
</style>
