---
import '../styles/base/_color.scss';
---

<section>
  <div class='container'>
    <div class='grid grid--6-cols'>
      <div class='feature'>
        <ion-icon class='feature-icon' name='call-outline'></ion-icon>
        <p class='feature-title'>Initial Contact</p>
        <p class='feature-text'>
          You can contact Junk Gone Hauling & Junk Removal through phone, email,
          or our website to schedule our services. During this initial contact,
          you’ll discuss the type and volume of items you need to be removed and
          any specific requirements or concerns.
        </p>
      </div>
      <div class='feature'>
        <ion-icon class='feature-icon' name='chatbubbles-outline'></ion-icon>
        <p class='feature-title'>Free Estimate</p>
        <p class='feature-text'>
          We will provide you with a free estimate based on your information.
          The quote will include the cost of the service and any additional
          charges for items that require special handling or disposal.
        </p>
      </div>
      <div class='feature'>
        <ion-icon class='feature-icon' name='calendar-outline'></ion-icon>
        <p class='feature-title'>Scheduling</p>
        <p class='feature-text'>
          Once you agree to the estimate, you’ll schedule a convenient time for
          the junk removal service. Our team will work with you to find a date
          and time that fits your schedule.
        </p>
      </div>
      <div class='feature'>
        <ion-icon class='feature-icon' name='trash-outline'></ion-icon>
        <p class='feature-title'>Removal</p>
        <p class='feature-text'>
          We will provide you with a free estimate based on your information.
          The quote will include the cost of the service and any additional
          charges for items that require special handling or disposal.
        </p>
      </div>
      <div class='feature'>
        <ion-icon class='feature-icon' name='checkmark-done-outline'></ion-icon>
        <p class='feature-title'>Cleanup</p>
        <p class='feature-text'>
          We will provide you with a free estimate based on your information.
          The quote will include the cost of the service and any additional
          charges for items that require special handling or disposal.
        </p>
      </div>
      <div class='feature'>
        <ion-icon class='feature-icon' name='cash-outline'>06.</ion-icon>
        <p class='feature-title'>Payment</p>
        <p class='feature-text'>
          We will provide you with a free estimate based on your information.
          The quote will include the cost of the service and any additional
          charges for items that require special handling or disposal.
        </p>
      </div>
    </div>
  </div>
</section>
<style lang='scss'>
  // @use '/styles/scss/base/color' as *;

  @import '../styles/base/_color.scss';
  $main-border-color: #222;
  $icon-color: #e67e22;
  $icon-bg-color: rgba(82, 121, 240, 0.686);
  $title-font-size: 2.4rem;
  $text-font-size: 1.8rem;
  $main-font-color: #222;
  section {
    // background-color: rgba(255, 226, 216, 0.867);
    // background-color: #efece0;
    padding: 14rem 2rem;
    border-top: 1px solid #f4f5cd;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-grey-light-2, 0.9),
        rgba($color-grey-light-1, 0.8)
      ),
      url('/image.jpeg');
    // opacity: 0.5;
    background-size: cover;

    padding: 12rem 2rem;
    border-top: 1px solid #ddd;
    transition:
      transform 1s,
      opacity 1s;
  }
  .feature {
    border: solid 4px $main-border-color;
    padding: 4rem 2rem;
    color: #222;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    transition: transform 0.3s;
    background-color: rgba($color-white, 0.9);

    &:nth-child(even) {
      // background-color: #efece0;
      // background-color: rgba($color-white, 0.3);

      border: solid 4px var(--clr-secondary-100);
      // color: #fff;
    }
    &:hover {
      transform: translateY(-0.5rem) scale(1.01);
      box-shadow: 0 1.6rem 4rem rgba($color-black, 0.2);
    }
  }

  .feature-icon {
    font-size: 4rem;
    color: #ffee00;
    height: 3.2rem;
    width: 3.2rem;
    // background-color: $icon-bg-color;
    background-color: rgba(23, 34, 113, 0.94);
    margin-bottom: 3.2rem;
    padding: 1.6rem;
    border-radius: 50%;
  }

  .feature-title {
    font-size: $title-font-size;
    font-weight: 700;
    margin-bottom: 1.4rem;
    position: relative;
  }

  .feature-text {
    font-size: $text-font-size;
    line-height: 1.8;
    padding-bottom: 2rem;
    font-weight: 500;
  }

  @media (max-width: 34em) {
    section {
      padding: 6rem 0.5rem;
    }
    .grid--6-cols {
      grid-template-columns: 1fr;
    }
  }
</style>
