<section>
  <div class='container'>
    <div class='grid grid--6-cols'>
      <div class='feature'>
        <div class='feature-icon' name='infinite-outline'>01.</div>
        <p class='feature-title'>Initial Contact</p>
        <p class='feature-text'>
          You can contact Junk Gone Hauling & Junk Removal through phone, email,
          or our website to schedule our services. During this initial contact,
          you’ll discuss the type and volume of items you need to be removed and
          any specific requirements or concerns.
        </p>
      </div>
      <div class='feature'>
        <div class='feature-icon' name='infinite-outline'>02.</div>
        <p class='feature-title'>Free Estimate</p>
        <p class='feature-text'>
          We will provide you with a free estimate based on your information.
          The quote will include the cost of the service and any additional
          charges for items that require special handling or disposal.
        </p>
      </div>
      <div class='feature'>
        <div class='feature-icon' name='infinite-outline'>03.</div>
        <p class='feature-title'>Scheduling</p>
        <p class='feature-text'>
          Once you agree to the estimate, you’ll schedule a convenient time for
          the junk removal service. Our team will work with you to find a date
          and time that fits your schedule.
        </p>
      </div>
      <div class='feature'>
        <div class='feature-icon' name='infinite-outline'>04.</div>
        <p class='feature-title'>Removal</p>
        <p class='feature-text'>
          We will provide you with a free estimate based on your information.
          The quote will include the cost of the service and any additional
          charges for items that require special handling or disposal.
        </p>
      </div>
      <div class='feature'>
        <div class='feature-icon' name='infinite-outline'>05.</div>
        <p class='feature-title'>Cleanup</p>
        <p class='feature-text'>
          We will provide you with a free estimate based on your information.
          The quote will include the cost of the service and any additional
          charges for items that require special handling or disposal.
        </p>
      </div>
      <div class='feature'>
        <div class='feature-icon' name='infinite-outline'>06.</div>
        <p class='feature-title'>Payment</p>
        <p class='feature-text'>
          We will provide you with a free estimate based on your information.
          The quote will include the cost of the service and any additional
          charges for items that require special handling or disposal.
        </p>
      </div>
    </div>
  </div>
  <style>
    section {
      background-color: darksalmon;
    }
    .grid {
      background-color: rgb(83, 122, 134);
    }
  </style>
</section>
