/// To Do
/// 
/// Design systems and theming
/// 
$color-primary: #343f61;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;


$color-secondary: hsl(57, 95%, 47%);
$color-secondary-light: hsl(57, 73%, 68%);
$color-secondary-dark: hsl(57, 82%, 54%);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;