/// To Do
/// 
/// Design systems and theming
/// 
$color-primary: #1D2486;
$color-primary-100: #1a2079;
$color-primary-200: #171d6b;
$color-primary-300: #14195e;
$color-primary-400: #111650;

$gradient: linear-gradient(90deg, #00089a, #192b5f, #4660a1, #3665c2);


$color-primary-light: #6166aa;
$color-primary-dark: #0c0e36;


$color-secondary: hsl(57, 95%, 47%);
$color-secondary-light: hsl(57, 73%, 68%);
$color-secondary-dark: hsl(57, 82%, 54%);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$global-color-primary: #1D2486;
$global-color-secondary: #EADE06;
$global-color-text: #343434;
$global-color-accent: #1D2486;
$global-color-fc28385: #0D1456;
$global-color-21bfb04: #FFFFFF;
$global-color-ad41708: #E7F0F7;
$global-color-57a29b1: #D9D9D9;
$global-color-d345fd2: #A7A7A7;
$global-color-08fcc9d: #787878;
$global-color-e5e9561: #292929;
$global-color-f06adda: #111111;
$global-color-cc33451: #202894;

$clr-bg: #d2d3e7;


$clr-blue: #e9f2ff;
$clr-blue-100: #d7e8ff;
$clr-blue-200: #b7d4ff;
$clr-blue-300: #8cb6ff;
$clr-blue-400: #5f8aff;
$clr-blue-500: #3b5eff;
$clr-blue-600: #192fff;

$clr-yellow: #fdfee8;
$clr-yellow-100: #fbffc2;
$clr-yellow-200: #faff87;
$clr-yellow-300: #feff43;
$clr-yellow-400: #fff305;
$clr-yellow-500: #efda03;