@use 'breakpoint' as *;

.container {
  margin: 0 auto;
  padding: 0 calc(2rem / 2);
  // max-width: 100%;
  // max-width: 120rem;

  max-width: 120rem;
  // padding: 0 3.2rem;
  margin: 0 auto;
}

// @include breakpoint(medium) {
//   padding: 0 2rem;
// }