@use "color" as *;

// target the root element of the HTML doc

:root {

  --clr-primary-100: hsl(236, 64%, 32%);
  --clr-primary-200: hsl(236, 64%, 32%);
  --clr-primary-300: hsl(236, 45%, 38%);
  --clr-primary-400: hsl(236, 30%, 44%);
  --clr-primary-500: hsl(238, 35%, 80%);
  --clr-primary-600: hsl(240, 69%, 91%);
  --clr-primary-700: hsl(240, 100%, 97%);
  --clr-primary-800: hsl(220, 100%, 99%);


  --clr-secondary-100: hsl(57, 95%, 47%);
  --clr-secondary-200: hsl(57, 82%, 54%);
  --clr-secondary-300: hsl(57, 70%, 61%);
  --clr-secondary-400: hsl(57, 63%, 66%);
  --clr-secondary-500: hsl(57, 95%, 75%);
  --clr-secondary-600: hsl(57, 100%, 90%);
  --clr-secondary-700: hsl(55, 93%, 95%);
  // Sass control directive interates over each key-value pair in the $colors map
  --gradient-primary: linear-gradient(to top left,
      hsl(57, 100%, 50%),
      hsl(57, 95%, 53%));



  --main-border-color: #777;
  --icon-color: #e67e22;
  --icon-bg-color: #3333;
  --title-font-size: 2.4rem;
  --text-font-size: 1.8rem;
  --main-font-color: #333;

  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --#{$color}-#{$shade}: #{$value};
    }
  }
}